.recipe {
    background-color: #7fffd4;
    text-align: center;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-style: italic;
}
.italics li {
    font-style: italic;
}
ol li {
    font-style: italic;
}